.hero_hi {
  position: relative;
  flex-direction: row;
  background-color: var(--bg-two);
  width: 100%;
  height: 30rem;
}

.hero_hi_present {
}

.name {
  align-self: flex-start;
  gap: 1rem;
  font-size: 35px;
  letter-spacing: 0.5rem;
  color: var(--font-color-1);
}

.name p:nth-child(1) {
  animation: var(--show-left);
}

.name p:nth-child(2) {
  animation: var(--show-right);
}

.text {
  text-align: center;
  width: 60%;
  color: var(--font-color-1);
  font-size: var(--font-size-text);
  line-height: 1.5rem;
  animation: var(--show-up);
}

.hero_about {
  background-color: var(--bg-one);
  width: 100%;
  height: 500px;
}

.avatar {
  position: absolute;
  top: 55%;
  left: 10%; 
  width: 25%;
  animation: var(--show-bottom);
}