.hero_hi {
  position: relative;
  flex-direction: row;
  background-color: var(--bg-two);
  width: 100%;
  height: 30rem;
}

.hero_hi_present {
}

.name {
  gap: 1rem;
  font-size: 35px;
  letter-spacing: 0.5rem;
  animation: show-name 1s;
}

.text {
  width: 60%;
  color: var(--font-color-1);
  font-size: var(--font-size-text);
  line-height: 1.5rem;
  animation: show-text 1s;
}

.hero_about {
  background-color: var(--bg-one);
  width: 100%;
  height: 500px;
}

.avatar {
  position: absolute;
  top: 55%;
  left: 10%; 
  width: 25%;
  animation: show-avatar 1s;
}

@keyframes show-name {
  0% {
    transform: translateX(-100%);
  }
}

@keyframes show-avatar {
  0% {
    transform: translateY(100%);
  }
}

@keyframes show-text {
  0% {
    transform: translateX(100%);
  }
}