@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Jersey+10&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

:root {
  --bg-one: rgb(34, 31, 31);
  --bg-two: rgb(223, 41, 8);

  /* font-color */

  --font-color-1: #000;
  --font-color-2: #ccc;

  /* font-size */
  
  --font-size-big: 32px;
  --font-size-text: 18px;
  --bold: bold;
}

body {
  overflow-y: auto;
  overflow-x: auto;
  height: 100vh;
}

.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max_1000 {
  max-width: 1000px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}