@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Jersey+10&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
}

:root {
  --bg-two: rgb(182, 178, 178);
  --bg-one: rgb(0, 0, 0);


  /* font-color */

  --font-color-1: #000;
  --font-color-2: #ccc;

  /* font-size */
  
  --font-size-big: 32px;
  --font-size-text: 18px;
  --bold: bold;

  /* animation */
  
  --show-up: show-up 1s;
  --show-right: show-right 1s;
  --show-bottom: show-bottom 1s;
  --show-left: show-left 1s;
}

body {
  overflow-y: auto;
  overflow-x: auto;
  height: 100vh;
}

.center_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.max_1000 {
  max-width: 1000px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Анимации */

@keyframes show-up {
  0% {
    transform: translateY(-100%);
  }
}

@keyframes show-right {
  0% {
    transform: translateX(100%);
  }
}

@keyframes show-bottom {
  0% {
    transform: translateY(100%);
  }
}

@keyframes show-left {
  0% {
    transform: translateX(-100%);
  }
}

